sudo: false
language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
install:
  - if [ -n "$GITHUB_OAUTH_TOKEN" ]; then composer config github-oauth.github.com ${GITHUB_OAUTH_TOKEN}; fi;
  - composer update
  - if [[ ${TRAVIS_PHP_VERSION:0:3} <= "5.5" ]]; then composer require sebastian/phpcpd:dev-de9056615da6c1230f3294384055fa7d722c38fa; fi
  - if [[ ${TRAVIS_PHP_VERSION:0:3} == "5.6" ]]; then composer require sebastian/phpcpd:dev-master; fi
script:
  - vendor/bin/phpqa --verbose --analyzedDir ./examples/src/ --buildDir ./build/logs --report
cache:
  directories:
    - vendor
    - $HOME/.composer/cache